<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
    <configSections>
    </configSections>
    <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>v/PPyMkanL8LcznXhJ9j7Z7xoZa94QJUUYPL72guhFqsrvmBd3CxiVGbkpvJURLWZuDCyf+7Iclt4wmF46x32d9aejyhxxtYSfXeRhXseoJUXhMqLiuVPjh13zxxCzQNIH3NBIfUm4httEIRvFmipbHJw19RD0SHiWyEXl6GDtbpmuJ6dChUItQepSWpEtUGXOwZkqoo3E9sP0vuHmnS83B9ypAA+yug9uXvIsBP2cgkXi504ZIM1GUxsVlEg1mOQcTkmf09i+J4LEndisTa3Uv9U72QT4l//yaO0hIcE0ZEg3emkjZhgSKDln0lvu10zPltzqFjshfCOdAo0n6rPg==</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>rckhw1AAt30Y8ByerDvTokMwXQGAuyWGcS3LHJdOpt8KAvVg3aHx+qj50QTRHB2Pyjbaj2gfwvYrIj0tvj8zpXoG/t3+bb3iErxNs2J3PMJ9iVTgHYfxTQciuJI2UFCfqXs2uTFHoaYbmkPxGIODo/xzAeXhDM3Zi+OYwRDaqHgZxlD4Mr6qqPQby8ZK2xEd6iDVpRmQfjeH3TQ9p02RFS08ge77j+ug6W2ZuioAEKLBLUbnIjP+zkmV8QZspwNG7qDMDfyNJoBKbS9D0dhwmD0Mf4rMdApY8losuoLaFle0LtrowVmY6YlwD3MTDq1y14apFdq7o/uZQvyajXSmb01U6C6zcvokwcUIrSeE49Co3JM4WebtvI75N6VoyAl4</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>